<mapper namespace="com.jianghao.codeclonedetect.mapper.CodeFileMapper">
    <resultMap id="codeFileMap" type="com.jianghao.codeclonedetect.model.CodeFile">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="path" column="path"/>
        <result property="content" column="content"/>
        <result property="projectId" column="project_id"/>
        <result property="astJson" column="ast_json"/>
    </resultMap>

    <select id="getById" resultMap="codeFileMap" parameterType="java.lang.Integer">
        SELECT * FROM code_file WHERE id = #{id}
    </select>

    <select id="listByProject" resultMap="codeFileMap" parameterType="java.lang.Integer">
        SELECT * FROM code_file WHERE project_id = #{projectId}
    </select>

    <insert id="save" parameterType="com.jianghao.codeclonedetect.model.CodeFile">
        INSERT INTO code_file(name, path, content, project_id, ast_json)
        VALUES(#{name}, #{path}, #{content}, #{projectId}, #{astJson})
    </insert>

    <update id="update" parameterType="com.jianghao.codeclonedetect.model.CodeFile">
        UPDATE code_file SET name = #{name}, path = #{path}, content = #{content},
        project_id = #{projectId}, ast_json = #{astJson}
        WHERE id = #{id}
    </update>

    <select id="listAll" resultType="com.jianghao.codeclonedetect.model.CodeFile">
        SELECT * FROM code_file
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM code_file WHERE id = #{id}
    </delete>
</mapper>
